# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude all top-level files and directories
# (except addons) from zip downloads.
# This makes installing Gut through the AssetLib
# easier, because no files and folders need to
# be unchecked.

*                     export-ignore
/addons                -export-ignore